#### Purpose: This notebook will look at ~300K records of IoT data for a water pump that experienced failures that are labeled in the data set
#### Data Source: https://www.kaggle.com/nphantawee/pump-sensor-data

In [20]:
# import raw .csv
import pandas as pd

csv_file = 'sensor_kaggle_dataset.csv'
bronze_df = pd.read_csv(csv_file)
display(bronze_df)

,Unnamed: 0,timestamp,sensor_00,sensor_01,sensor_02,sensor_03,sensor_04,sensor_05,sensor_06,sensor_07,...,sensor_43,sensor_44,sensor_45,sensor_46,sensor_47,sensor_48,sensor_49,sensor_50,sensor_51,machine_status
0,0,2018-04-01 00:00:00,2.465394,47.09201,53.211800,46.310760,634.375000,76.45975,13.41146,16.13136,...,41.92708,39.641200,65.68287,50.92593,38.194440,157.9861,67.70834,243.0556,201.3889,NORMAL
1,1,2018-04-01 00:01:00,2.465394,47.09201,53.211800,46.310760,634.375000,76.45975,13.41146,16.13136,...,41.92708,39.641200,65.68287,50.92593,38.194440,157.9861,67.70834,243.0556,201.3889,NORMAL
2,2,2018-04-01 00:02:00,2.444734,47.35243,53.211800,46.397570,638.888900,73.54598,13.32465,16.03733,...,41.66666,39.351852,65.39352,51.21528,38.194443,155.9606,67.12963,241.3194,203.7037,NORMAL
3,3,2018-04-01 00:03:00,2.460474,47.09201,53.168400,46.397568,628.125000,76.98898,13.31742,16.24711,...,40.88541,39.062500,64.81481,51.21528,38.194440,155.9606,66.84028,240.4514,203.1250,NORMAL
4,4,2018-04-01 00:04:00,2.445718,47.13541,53.211800,46.397568,636.458300,76.58897,13.35359,16.21094,...,41.40625,38.773150,65.10416,51.79398,38.773150,158.2755,66.55093,242.1875,201.3889,NORMAL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220315,220315,2018-08-31 23:55:00,2.407350,47.69965,50.520830,43.142361,634.722229,64.59095,15.11863,16.65220,...,38.28125,68.287030,52.37268,48.32176,41.087960,212.3843,153.64580,NaN,231.1921,NORMAL
220316,220316,2018-08-31 23:56:00,2.400463,47.69965,50.564240,43.142361,630.902771,65.83363,15.15480,16.70284,...,38.28125,66.840280,50.63657,48.03241,40.798610,213.8310,156.25000,NaN,231.1921,NORMAL
220317,220317,2018-08-31 23:57:00,2.396528,47.69965,50.520830,43.142361,625.925903,67.29445,15.08970,16.70284,...,39.06250,65.393520,48.90046,48.03241,40.798610,217.3032,155.38190,NaN,232.0602,NORMAL
220318,220318,2018-08-31 23:58:00,2.406366,47.69965,50.520832,43.142361,635.648100,65.09175,15.11863,16.56539,...,40.62500,64.236110,47.74306,48.32176,40.509258,222.5116,153.93520,NaN,234.0856,NORMAL
220319,220319,2018-08-31 23:59:00,2.396528,47.69965,50.520832,43.142361,639.814800,65.45634,15.11863,16.65220,...,41.40625,62.789350,46.29630,48.90046,40.219910,227.4306,150.46300,NaN,234.0856,NORMAL

# clean data:
###### -remove 'unnamed' column
###### -remove columns with more than 50% nulls
###### -impute missing values with forward fill method
###### -create a dataframe of records where 'machine_status' = 'Broken'

In [22]:
# drop unnamed column
bronze_df.drop(bronze_df.columns[bronze_df.columns.str.contains('unnamed',case = False)],axis = 1, inplace = True)

# remove a dataframe column if more than a certain % of records are missing - set at > 50% initially
null_threshold = 50
threshold_count = int(((100-null_threshold)/100)*bronze_df.shape[1] + 1)
silver_sensor_df = bronze_df.dropna(axis=1, thresh=threshold_count)

# choose an imputation technique to replace null values - last or next populated value may make the most sense (method = 'ffill' or 'bfill'), but a more advanced method would be kmeans or other clustering method
silver_sensor_df.fillna(method='ffill', inplace=True) # replaces null with last populated value

# create new df of broken records
silver_broken_df = silver_sensor_df[silver_sensor_df['machine_status'] == 'BROKEN']

C:\Users\alexander.bonner\Anaconda3\lib\site-packages\pandas\core\frame.py:5176: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [23]:
# sort both DFs by 'timestamp' - was having issues plotting data below when the values were not sorted
silver_sensor_df.sort_values(by="timestamp", inplace=True)
silver_broken_df.sort_values(by="timestamp", inplace=True)

display(cleaned_sensor_df)
display(cleaned_broken_df)

C:\Users\alexander.bonner\Anaconda3\lib\site-packages\pandas\util\_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

,timestamp,sensor_00,sensor_01,sensor_02,sensor_03,sensor_04,sensor_05,sensor_06,sensor_07,sensor_08,...,sensor_43,sensor_44,sensor_45,sensor_46,sensor_47,sensor_48,sensor_49,sensor_50,sensor_51,machine_status
0,2018-04-01 00:00:00,2.465394,47.09201,53.211800,46.310760,634.375000,76.45975,13.41146,16.13136,15.56713,...,41.92708,39.641200,65.68287,50.92593,38.194440,157.9861,67.70834,243.0556,201.3889,NORMAL
1,2018-04-01 00:01:00,2.465394,47.09201,53.211800,46.310760,634.375000,76.45975,13.41146,16.13136,15.56713,...,41.92708,39.641200,65.68287,50.92593,38.194440,157.9861,67.70834,243.0556,201.3889,NORMAL
2,2018-04-01 00:02:00,2.444734,47.35243,53.211800,46.397570,638.888900,73.54598,13.32465,16.03733,15.61777,...,41.66666,39.351852,65.39352,51.21528,38.194443,155.9606,67.12963,241.3194,203.7037,NORMAL
3,2018-04-01 00:03:00,2.460474,47.09201,53.168400,46.397568,628.125000,76.98898,13.31742,16.24711,15.69734,...,40.88541,39.062500,64.81481,51.21528,38.194440,155.9606,66.84028,240.4514,203.1250,NORMAL
4,2018-04-01 00:04:00,2.445718,47.13541,53.211800,46.397568,636.458300,76.58897,13.35359,16.21094,15.69734,...,41.40625,38.773150,65.10416,51.79398,38.773150,158.2755,66.55093,242.1875,201.3889,NORMAL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220315,2018-08-31 23:55:00,2.407350,47.69965,50.520830,43.142361,634.722229,64.59095,15.11863,16.65220,15.65393,...,38.28125,68.287030,52.37268,48.32176,41.087960,212.3843,153.64580,NaN,231.1921,NORMAL
220316,2018-08-31 23:56:00,2.400463,47.69965,50.564240,43.142361,630.902771,65.83363,15.15480,16.70284,15.65393,...,38.28125,66.840280,50.63657,48.03241,40.798610,213.8310,156.25000,NaN,231.1921,NORMAL
220317,2018-08-31 23:57:00,2.396528,47.69965,50.520830,43.142361,625.925903,67.29445,15.08970,16.70284,15.69734,...,39.06250,65.393520,48.90046,48.03241,40.798610,217.3032,155.38190,NaN,232.0602,NORMAL
220318,2018-08-31 23:58:00,2.406366,47.69965,50.520832,43.142361,635.648100,65.09175,15.11863,16.56539,15.74074,...,40.62500,64.236110,47.74306,48.32176,40.509258,222.5116,153.93520,NaN,234.0856,NORMAL
220319,2018-08-31 23:59:00,2.396528,47.69965,50.520832,43.142361,639.814800,65.45634,15.11863,16.65220,15.65393,...,41.40625,62.789350,46.29630,48.90046,40.219910,227.4306,150.46300,NaN,234.0856,NORMAL

,timestamp,sensor_00,sensor_01,sensor_02,sensor_03,sensor_04,sensor_05,sensor_06,sensor_07,sensor_08,...,sensor_43,sensor_44,sensor_45,sensor_46,sensor_47,sensor_48,sensor_49,sensor_50,sensor_51,machine_status
17155,2018-04-12 21:55:00,0.000000,53.342010,52.821180,43.402775,202.526031,49.79289,3.219039,16.890910,16.869210,...,50.78125,50.92593,51.215280,50.636570,46.006940,409.143500,121.527800,401.909700,324.6528,BROKEN
24510,2018-04-18 00:30:00,1.093982,42.534720,47.699650,41.449650,206.038757,60.30106,12.304690,15.154800,14.185470,...,42.70833,34.72222,31.539350,34.432870,33.275460,59.895830,44.560180,177.662000,183.7384,BROKEN
69318,2018-05-19 03:18:00,2.258796,47.265630,52.734370,43.446178,200.115738,66.14643,13.592300,15.914350,15.147570,...,39.06250,35.01157,37.905090,39.062500,45.428240,144.675900,49.768520,246.238400,257.5231,BROKEN
77790,2018-05-25 00:30:00,2.321759,47.482640,51.475693,42.795135,612.152800,67.30158,14.062500,16.608800,15.943290,...,202.34370,65.68287,57.870370,127.893500,153.935200,155.381900,65.682870,220.196800,267.3611,BROKEN
128040,2018-06-28 22:00:00,0.364005,40.190970,45.225690,40.190971,201.368622,0.00000,11.335360,15.270540,15.183740,...,32.29166,28.06713,28.067129,29.513889,29.224537,29.224537,29.513889,32.407406,1000.0000,BROKEN
141131,2018-07-08 00:11:00,0.001968,45.138890,52.907990,45.355900,500.000000,1.40131,0.028935,0.036169,0.036169,...,36.19791,37.32639,35.300930,38.194440,43.402780,99.537030,44.849540,192.129600,174.7685,BROKEN
166440,2018-07-25 14:00:00,2.318808,45.833332,52.994790,43.880210,420.503448,72.52040,14.185470,16.247110,15.697340,...,51.30208,52.10200,52.662040,67.129630,43.981480,230.324100,69.733800,1000.000000,205.7292,BROKEN

# Exploratory Data Analysis

In [ ]:
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

# Plot time series for each sensor with logged faults marked with X in red color
# mpl.rcParams['agg.path.chunksize'] = 500000
sns.set_context('talk')

for column in silver_sensor_df.columns:
    try:
        plt.figure(figsize=(18,3))
        plt.plot(silver_broken_df.timestamp, silver_broken_df[column], linestyle='none', marker='X', color='red', markersize=15)
        plt.plot(silver_sensor_df.timestamp, silver_sensor_df[column], color='blue')
        plt.title(column)
        plt.show()
    except:
        print("error with: {}".format(column))

In [ ]:
import matplotlib.pyplot as plt
from pyspark_dist_explore import hist

# histogram - reads from spark df
for col in silver_sensor_df.columns:
    try:
        print(f"========={col}=========")
        fig, ax = plt.subplots()
        hist(ax, silver_sensor_df[col], bins = 50, color=['red'])
        display(fig)
    except:
        print("{}.....unable to plot".format(col))

# Feature Engineering
### - 'operational_hours' column derived from 'timestamp'
### - 'machine_status' made binary for 'BROKEN' values only

In [ ]:
import numpy as np 

# sort df by timestamp
silver_sensor_FE_df = silver_sensor_df.sort_values(by=['timestamp'], inplace=True)

# add 'operational_hours' column based on 'timestamp'
for i in range(silver_sensor_FE_df.shape[0]):
    comparative_value = silver_sensor_FE_df["timestamp"].values[i]
    base_value = silver_sensor_FE_df["timestamp"].values[0]
    diff_value =  comparative_value - base_value
    diff_value = diff_value.astype('timedelta64[m]')
    diff_value = diff_value / np.timedelta64(1, 'm') / 60 # convert to hours
    silver_sensor_FE_df.loc[silver_sensor_FE_df.index[i], "operational_hr"] = diff_value
display(silver_sensor_FE_df)

In [ ]:
# create dummy columns for the 'machine_status' column - will only keep the BROKEN related one
silver_sensor_FE_df = pd.get_dummies(silver_sensor_FE_df, columns=["machine_status"])

# drop 'normal' and 'recovering' related columns
drop_col_list = ["machine_status_NORMAL", "machine_status_RECOVERING"]
silver_sensor_FE_df.drop(columns=drop_col_list, inplace=True)

# ML Pre-processing
### - Drop 'timestamp' column
### - Separate features and labels (classification model)
### - Get features and labels into arrays
### - Standardize and scale data

In [ ]:
# drop unnecessary columns
drop_col_list = ["timestamp"]
silver_sensor_FE_df.drop(columns=drop_col_list, inplace=True)

In [ ]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

label_col = ["machine_status_BROKEN"]

# get features df and array
df_features = silver_sensor_FE_df.drop(label_col, axis=1)
features_array = np.array(df_features)

# get label df and array
df_label = silver_sensor_FE_df[label_col]
label_array = np.array(df_label)

# scale features array
scaler = StandardScaler()
scaled_features_array = scaler.fit_transform(features_array)

print(len(features_array))
print(len(label_array))

In [ ]:
# incorporate random undersampling (for non-failures) and oversampling (for failures) for the imbalanced data set

from imblearn.over_sampling import SMOTE
from imblearn.under_sampling import RandomUnderSampler

sm = SMOTE(sampling_strategy=0.1, k_neighbors=3)
x_smote, y_smote = sm.fit_resample(scaled_features_array, label_array)

under = RandomUnderSampler(sampling_strategy=0.5)
x_over, y_over = under.fit_resample(x_smote, y_smote)

print(len(x_smote))
print(len(y_smote))
print(len(x_over))
print(len(y_over))

In [ ]:
from sklearn.decomposition import PCA
import matplotlib.pyplot as plt

# principal component analysis - reduce number of features to X
pca = PCA(n_components=3) # n_components argument to be manually set after viewing plot of all PCA features
pcaFeatures = pca.fit_transform(x_over)

# plot principal components
features = range(pca.n_components_)
plt.figure(figsize=(15, 5))
plt.bar(features, pca.explained_variance_)
plt.xlabel('PCA feature')
plt.ylabel('Variance')
plt.xticks(features)
plt.title("Importance of the Principal Components based on inertia")
plt.show()

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(pcaFeatures, y_over, test_size=.3, random_state=42)

# Modeling Pipeline - XGBoost Classifier

In [ ]:
# XGBoost Classification Model Pipeline

import xgboost as xgb
import mlflow
from pyspark.ml.evaluation import BinaryClassificationEvaluator
from sklearn.model_selection import GridSearchCV

# specify xgboost model and use grid search to fit to training set
xgb = xgb.XGBClassifier(objective="binary:logistic", random_state=42)

# set up ML Flow run with auto log-enable
with mlflow.start_run(): # will only run the indented blocks below, not the cell block below 
    
    parameters = {
        'max_depth': (2, 10),
        'n_estimators': (60, 50, 40),
        'learning_rate': [0.1, 0.01, 0.05],
        'scale_pos_weight': [100, 1000, 10000]
    }

    # 3-fold cross-validator (grid search)
#     grid_search = GridSearchCV(
#         estimator=xgb,
#         param_grid=parameters,
#         scoring = "f1",
#         n_jobs = 10,
#         cv = 3,
#         verbose=True)
    
     # 3-fold cross-validator (bayes optimization)
    grid_search = BayesSearchCV(
        estimator=xgb,
        search_spaces=parameters,
        scoring = "f1",
        n_jobs = 10,
        cv = 3,
        verbose=True)

    cv_model = grid_search.fit(x_train, y_train)
    cv_pred_df = grid_search.predict(x_test)

    try:
        mlflow.spark.log_model(cv_model, "xgb_best_model")
    except: 
        print("Couldn't register model")

In [ ]:
# XGBoost Classification Model Performance Metrics

import seaborn as sns
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, f1_score, matthews_corrcoef
from sklearn import model_selection

# visualize confusion matrix
matrix_labels = ['n_broken_status', 'y_broken_status']
conf_matrix = confusion_matrix(y_test, cv_pred_df)
print(conf_matrix)
plt.figure(figsize=(12,12))
sns.heatmap(conf_matrix, xticklabels=matrix_labels, yticklabels=matrix_labels, annot=True, fmt="d");
plt.title("Confusion matrix")
plt.ylabel("True class")
plt.xlabel("Predicted class")
plt.show()
# calculate the false positive rate from the confusion matrix
fp = conf_matrix[0][1]
tn = conf_matrix[1][1]
print("False Positive Rate: {}".format(fp / (fp+tn)))

# evaluate and summary performance metrics
print("The model used: {}".format("XGBoost Classifier"))
acc = accuracy_score(y_test, cv_pred_df)
print("Accuracy of model: {}".format(acc))
prec = precision_score(y_test, cv_pred_df, zero_division=1)
print("Precision: {}".format(prec))
recall = recall_score(y_test, cv_pred_df)
print("Recall: {}".format(recall))
f1 = f1_score(y_test, cv_pred_df)
print("F1 score: {}".format(f1))
mcc = matthews_corrcoef(y_test, cv_pred_df)
print("Matthews correlation coefficient: {}".format(mcc))

In [ ]:
# use best model (based on most recent run model above) to make predicitons on the original data set

# must transform raw data to match principal components from the original data (without the over/undersampling included)
pca = PCA(n_components=3) # n_components argument to be manually set after viewing plot of all PCA features
pcaFeatures = pca.fit_transform(silver_sensor_df)

# make predictions and convert to pandas df
full_pred_df = grid_search.predict(pcaFeatures)
full_pred_df = pd.DataFrame(full_pred_df, columns=['broken_pred'])

In [ ]:
# merge full dataset with predictions made
full_pred_df = pd.merge(silver_sensor_FE_df, full_pred_df, how='left', left_index=True, right_index=True)
display(full_pred_df)

In [ ]:
# compare real failures with predicted failures to find the overlap
test_df = full_pred_df.loc[(full_pred_df['machine_status_BROKEN']==1) | (full_pred_df['broken_pred']==1)]
test_df = full_pred_df.loc[(full_pred_df['broken_pred']==1)]
print(len(test_df))
display(test_df)